:root {
  --main-text-color: #E0EBC0;
  --main-bg-color: #142A21;
}

body{
  overflow-x: hidden;
}

.carousel-frame{
  position: relative;
  height: 600px;
  width: 80vw;
  overflow: hidden;
  justify-self: center;
  margin: auto;
}

.carousel-track {
  position: absolute;
  animation-name: move-right;
  animation-duration: 2s;
}

@keyframes move-right {
  50% {transform: translateX(100px);}
  100%{transform: translateX(100px);}
}

.carousel-btn {
  position: absolute;
}

#right-btn {
  right: 0px;
}

#left-btn {
  left: 0px;
}


.gallery-header {
  color: var(--main-text-color);
  font-family: 'Spicy Rice';
  font-size: 5rem;
  text-align: center;
  margin-top: 50px;
}

.gallery-nav {
  display: flex;
  justify-content: center;
  color: rgb(51, 80, 64);
  background-color: rgb(60, 105, 80);
  height: 100px;
  width: max(85vw, 500px);
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 40px;
  padding: 15px;

}

.gallery-nav-tab {
  color: var(--main-bg-color);
  background-color: rgb(60, 105, 80);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  border-radius: 40px;

}

.active-gallery {
  background: linear-gradient(225deg, #96E07E 0%, #EBDA75 100%);
}
